:host {
  display: block;
  width: 55%;
  margin: 3rem auto;
}

.filter-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.3rem;
  margin-bottom: 1rem;

  .control {
    width: min-content;

    .control-label {
      margin-bottom: 1rem;
    }

    .control-input {
      padding: 0.5rem 0.75rem;
      font-size: 1.3rem;
      border: 1px solid #636161;
      border-radius: 0.5rem;
      max-width: 200px;
    }

    .validate-error {
      font-size: 1rem;
      color: #ec1342;
    }
  }

  .button {
    font-size: 1.3rem;
    padding: 0.5rem 1.25rem;
    border: 1px solid #636161;
    border-radius: 0.75rem;
    margin-top: 1.45rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  .erase-button {
    background-color: #f5e942;
    color: #394785;
  }

  .search-button {
    background-color: #18960d;
    color: #fff;
  }

  .button:hover {
    box-shadow: 0px 0px 15px 0px #484c4e4d;
  }

  .search-button:disabled {
    box-shadow: none;
    background-color: #ada8a8;
    color: #000;
    cursor: not-allowed;
  }
}
